@font-face {
  font-family: "Space Grotesk";
  src: url("/assets/fonts/SpaceGrotesk-Regular.ttf") format("truetype");
  font-weight: 300 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "HANBAI";
  src: url("/assets/fonts/HANBAI.ttf") format("truetype");
  font-weight: 300 700;
  font-style: normal;
  font-display: swap;
} 

body {
  background:#ffffff;
  font-family:'Space Grotesk',sans-serif;
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
  margin:0;
}

.form {
  --font-color: #00b78a;
  --font-color-sub: #7e7e7e;
  --bg-color: #ffffff;
  --main-color: #00b78a;

  padding: 20px;
  background: var(--bg-color);
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  box-shadow: 4px 4px var(--main-color);
  width: 280px;
}

.title {
    font-family:'HANBAI',sans-serif;  
  font-size: 42px;
  margin: 0;
  color: var(--main-color);
}

.title span {
  color: var(--font-color-sub);
  font-weight: 600;
  font-size: 22px;
}

.input {
  width: 90%;
  height: 40px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
  box-shadow: 4px 4px var(--main-color);
  font-size: 17px;
  font-weight: 800;
  color: var(--font-color);
  padding: 5px 10px;
  outline: none;
  font-family: "Space Grotesk"; 
}

.input::placeholder {
  color: var(--font-color-sub); 
}

.file-wrap {
  position: relative;
}

.file-wrap {
  display: flex;
  align-items: center;
  gap: 14px; /* THIS is the gap you want */
  cursor: pointer;
}

.file-btn {
  padding: 6px 12px;
  border: 1.8px solid var(--main-color);
  border-radius: 4px;
  box-shadow: 2px 2px var(--main-color);
  font-weight: 600;
  font-size: 20px;
}

.file-name {
  color: var(--font-color-sub);
  font-size: 20px;
}


.button-confirm {
  margin-top: 10px;
  width: 220px;
  height: 40px;
  align-self: center;
  border-radius: 5px;
  border: 1.5px solid var(--main-color);
  background-color: var(--bg-color);
  box-shadow: 4px 4px var(--main-color);
  font-size: 17px;
  font-weight: 600;
  color: var(--font-color);
  cursor: pointer;
    font-family: "Space Grotesk";
}

.button-confirm:active {
  box-shadow: 0px 0px var(--main-color);
  transform: translate(3px, 3px);
}


.card {
  --main-color: #00b78a;
  border: 2px solid var(--main-color);
  box-shadow: 4px 4px var(--main-color);
  padding: 28px;
  border-radius: 6px;
  width: 320px;
  text-align: center;
}


p {
  margin: 12px 0 24px;
  color: #666;
  font-size: 14px;
}

a {
  display: block;
  margin: 10px auto;
  padding: 10px;
  width: 200px;
  text-decoration: none;
  color: var(--main-color);
  border: 2px solid var(--main-color);
  border-radius: 5px;
  font-weight: 600;
  font-size: medium;
  box-shadow: 3px 3px var(--main-color);
}

a:active {
  box-shadow: 0px 0px var(--main-color);
  transform: translate(3px, 3px);
}